<strong>Olá, {{ deliveryMan }} </strong>

<p>Uma encomenda de sua responsabilidade acabou de ser cancelada. Segue abaixo mais detalhes do pedido:</p>

<strong>Destinatário: </strong>{{ recipient }} <br />
<strong>Produto: </strong>{{ product }} <br />
<br />
<strong>Motivo do cancelamento: </strong>{{ description }}<br />
<br />