<strong>Olá, {{deliveryMan}}</strong>
<p>Há pedidos para serem retirados. Confira os detalhes abaixo:</p>
<p>
  <strong>Produto: </strong> {{product}} <br />
  <strong>Código do Destinatário: </strong> {{recipientId}} <br />
  <br />
  <small>
    Favor solicitar a retirada dos pedidos assim que possível!
    </small>
</p>